{%  extends "base.html" %}

{% block title %}
  Index Page
{% endblock %}

{% block content %}
  <!-- Main showcase -->
  <div class="jumbotron mt-3">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button"><span class="oi oi-compass pr-2"></span>Learn more</a>
  </div>
  <!-- Pricing options -->
  <div class="card-deck">
      <div class="card text-center">
        <h5 class="card-header">Premium Subscription</h5>
        <div class="card-body">
          <p class="card-text">Feature 1<span class="oi oi-check text-success pl-2"></span></p>
          <p class="card-text">Feature 2<span class="oi oi-check text-success pl-2"></span></p>
          <p class="card-text">Feature 3<span class="oi oi-check text-success pl-2"></span></p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary"><span class="oi oi-task pr-2"></span>Sign Up</a>
        </div>
      </div>
      <div class="card text-center">
        <h5 class="card-header">Free Subscription</h5>
        <div class="card-body">
          <p class="card-text">Feature 1<span class="oi oi-check text-success pl-2"></span></p>
          <p class="card-text text-muted">Feature 2<span class="oi oi-ban text-danger pl-2"></span></p>
          <p class="card-text text-muted">Feature 3<span class="oi oi-ban text-danger pl-2"></span></p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-primary"><span class="oi oi-task pr-2"></span>Sign Up</a>
        </div>
      </div>
  </div>
{% endblock %}
