{% extends "base.html" %}

{% block content %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'core:board_list' %}">Boards</a></li>
      <li class="breadcrumb-item active">{{ board.name }}</li>
    </ol>
  </nav>

  <h3>{{ board.name }}</h3>
  <p>{{ board.description }}</p>

  <div class="row">
    {% for phase in phases %}
      <div class="col-md">
        <h5>{{ phase.name }}</h5>

        <div class="container">
          {% for task in phase.tasks.all %}
            <div class="card mb-2">
              <div class="card-body">
                <a href="{% url 'core:task_details' task.id %}">{{ task.name }}</a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    {% endfor %}
  </div>

{% endblock %}